<ActionBar [title]="title" class="action-bar"></ActionBar>

<GridLayout rows="auto *" columns="*">
    <WrapLayout orientation="horizontal">
        <Button text="generate" (tap)="generate()"></Button>
        <Button text="clear" (tap)="clear()"></Button>
        <Button text="dump" (tap)="dump()"></Button>
        <Button text="reset" (tap)="reset()"></Button>
    </WrapLayout>
    <ScrollView row="1">
        <StackLayout>
            <flexbox-item *ngFor="let item of items" [item]="item"></flexbox-item>
        </StackLayout>
    </ScrollView>
</GridLayout>